:root {
    --title-color: #2a3238;
    --h1-color: black;
    --bg-color: #F0F5F9;
    --title-family: 'Blinker', sans-serif;
    --body-family: 'DM Sans';
    --card-color: #5a6a74;
    --card-color-darker: #2f383d;
    --card-title-font: 'Blinker', sans-serif;
    --card-title-color: white;
    --card-text-color: white;
    --card-text-weight: bold;
    --p-text-color: rgb(255, 255, 255);
    --link-decoration: none;
    --settings-container: #F0F5F9;
    --media-skip-buttons: rgba(189, 116, 116, 0.7);
    --media-play-buttons: rgba(223, 192, 113, 0.7);
    --media-icon-color: white;
    --alt-bg-color: #33c263;
    --mobile-bg: #343434;
    --nav-bar-bg: #5a6a74;
    --bg-image: url(assets/Mountain_Lighter.svg);
  /* Unfinished!! */
}

/* Placeholder values!! */
[data-theme="dark"] {
  --title-color: #14FFEC;
  --h1-color: white;
  --bg-color: #212121;  
  --title-family: 'Blinker', sans-serif;
  --body-family: 'DM Sans';
  --card-color: #0d7377;
  --card-color-darker: #0a4446;
  --card-title-font: 'Blinker', sans-serif;
  --card-title-color: rgb(255, 255, 255);
  --card-text-color: rgb(255, 255, 255);
  --card-text-weight: bold;
  --p-text-color: rgb(255, 255, 255);
  --link-decoration: none;
  --settings-container: #212121;
  --media-skip-buttons: rgba(102, 40, 40, 0.7);
  --media-play-buttons: rgba(128, 105, 46, 0.7);
  --media-icon-color: black;
  --alt-bg-color: #33c263;
  --mobile-bg: #343434;
  --nav-bar-bg: #0D7377;
  --bg-image: url(assets/Mountain_Darker.svg);
}

[data-theme="lavender"] {
  --title-color: #674188;
  --h1-color: #4c4352;
  --bg-color: #F7EFE5;
  --title-family: 'Blinker', sans-serif;
  --body-family: 'DM Sans';
  --card-color: #C3ACD0;
  --card-title-font: 'Blinker', sans-serif;
  --card-title-color: black;
  --card-text-color: black;
  --card-text-weight: bold;
  --p-text-color: black;
  --link-decoration: none;
  --settings-container: #F7EFE5;
  --media-skip-buttons: rgba(189, 116, 116, 0.7);
  --media-play-buttons: rgba(223, 192, 113, 0.7);
  --media-icon-color: white;
  --alt-bg-color: #33c263;
  --mobile-bg: #343434;
  --nav-bar-bg: #C3ACD0;
  --bg-image: url(assets/Mountain_Lavenderer.svg);
/* Unfinished!! */
}