:root {
    --title-color: #962c2c;
    --bg-color: #c2c2c2;
    --title-family: 'Blinker', sans-serif;
    --body-family: 'DM Sans';
    --card-color: #43b4ab;
    --card-title-font: 'Blinker', sans-serif;
    --card-title-color: black;
    --card-text-color: black;
    --card-text-weight: bold;
    --p-text-color: black;
    --link-decoration: none;
    --settings-container: #c2c2c2;
    --media-skip-buttons: rgba(189, 116, 116, 0.7);
    --media-play-buttons: rgba(223, 192, 113, 0.7);
    --media-icon-color: white;
    --alt-bg-color: #33c263;
  /* Unfinished!! */
}

/* Placeholder values!! */
[data-theme="dark"] {
  --title-color: #962c2c;
  --bg-color: #111111;  
  --title-family: 'Blinker', sans-serif;
  --body-family: 'DM Sans';
  --card-color: #4b64a8;
  --card-title-font: 'Blinker', sans-serif;
  --card-title-color: rgb(255, 255, 255);
  --card-text-color: rgb(255, 255, 255);
  --card-text-weight: bold;
  --p-text-color: rgb(255, 255, 255);
  --link-decoration: none;
  --settings-container: #111111;
  --media-skip-buttons: rgba(102, 40, 40, 0.7);
  --media-play-buttons: rgba(128, 105, 46, 0.7);
  --media-icon-color: black;
  --alt-bg-color: #33c263;
}