     /* Fonts */
     @import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');
     @import url('https://fonts.cdnfonts.com/css/baloo-da');

/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
html {
  background-color: var(--bg-color);
}
body {
  font-family: var(--body-family);
}

.mobile {
    display: block !important;
}

::-webkit-scrollbar {
	width: 1vh;
	border-radius: 1vh;;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 1vh;
	-webkit-box-shadow: inset 0 0 0.8vh rgba(0, 0, 0, .3);
	background-color: #555;
  }

button {
  padding: 15px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 10vw;
  float: none;
  color: var(--card-text-color);
  transition: 0.4s;
  font-weight: bold;
  height: 5vh;
  width: 10vw;
}

#nav {
  display: none;
  align-items: center;
  float: none;
  text-align: center;

  height: 7vh;
  background-color: none;
  color: white;
  width: 100%;
  padding: 0 0; 
  transition: 0.6s; 
  position: fixed;
  z-index: 120;
}

.media-player-wrap {
  background: url(assets/a9362e9d1ae13b2f90f29a61c1ad526b.1000x1000x1.png), #4F4D4D;
  border-radius: 2vw;
  height: 20vh;
  width: 80vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 1;
      display: block;
    position: inherit;
    margin-left: 10vw;
    margin-top: 5vh;
    transition: 0.4s; 
}


.quick-settings-wrap {
  background: var(--bg-color);
  border-radius: 2vw;
  height: 20vh;
  width: 80vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 1;
      display: block;
    position: inherit;
    margin-left: 10vw;
    margin-top: 30vh;
    transition: 0.4s;
}

.musicSettingsOpen {
    margin: 1rem;
    padding: 1rem;
    border-radius: 5vh;
    font-family: Verdana;
    background-color: var(--card-color);
    transition: all 0.3s;
    width: 80vw;
    height: auto;
    position: absolute;
    margin-left: 20vw;
    margin-top: 10vh;
    z-index: 100;
    transition: 0.4s;
    top: 0%;
    right: 2%;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .6);
}

#musicSettingsContainer {
  display: none;
}

#f {
  display: none;
}

.mobileSize-h1 {
    font-size: 12vw;
    margin: 2vh;
}

.mobileSize-h5 {
    font-size: 5vw;
    margin: 2vh;
}


.custom-file-upload {
    color: var(--card-title-color);
    font-size: 8vw;
    font-family: var(--card-title-font);
    margin-top: 1vh;
    transition: 0.4s; 
    background-color: var(--alt-bg-color);
    text-align: center;
    margin-left: 10%;
    width: 80vw;
    font-weight: normal;
    height: 13vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3vw;
}

.custom-file-upload:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #18d631 0px 0px 1vh 0px;
}

.hover-setting {
  border:rgba(0, 0, 0, .6) 0.1vh solid;
}

.hover-setting:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color:rgb(255, 0, 0)
}
.media-button-wrap {
  margin-top: 5vh;
  transition: 0.4s; 
}



.back-arrow-option {
  background: var(--media-skip-buttons);
  color: var(--media-icon-color);
  height: 17vw;
  width: 17vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  margin-right: 6vw;
  display: inline-block;
  transition: 0.4s; 
}

.back-arrow-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #8f3333 0px 0px 1vh 0px;
}

.pause-play-option {
    background: var(--media-play-buttons);
    color: var(--media-icon-color);
    height: 17vw;
    width: 17vw;
    background-repeat:no-repeat;
      background-position: center center;
     background-size: cover;
    margin-left: 0;
    border-radius: 2vh;
    margin-right: 6vw;
    display: inline-block;
    transition: 0.4s; 
}

.pause-play-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #909e53 0px 0px 1vh 0px;
}

.forward-arrow-option {
    background: var(--media-skip-buttons);
    color: var(--media-icon-color);
    height: 17vw;
    width: 17vw;
    background-repeat:no-repeat;
      background-position: center center;
     background-size: cover;
    margin-left: 0;
    border-radius: 2vh;
    margin-right: 0vw;
    display: inline-block;
    transition: 0.4s; 
}

.forward-arrow-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #8f3333 0px 0px 1vh 0px;
}

/* Quick Settings */

.quick-button-wrap {
  margin-top: 5vh;
  transition: 0.4s; 
}

.night-button-option {
  background: var(--card-color);
  color: var(--card-title-color); 
  height: 20vw;
  width: 20vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0.5vw;
  transition: 0.4s; 
}

.night-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.refresh-button-option {
    background: var(--card-color);
    color: var(--card-title-color); 
    height: 20vw;
    width: 20vw;
    background-repeat:no-repeat;
      background-position: center center;
     background-size: cover;
    margin-left: 0;
    border-radius: 2vh;
    display: inline-block;
    margin-right: 0.5vw;
    transition: 0.4s; 
}

.refresh-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.fullscreen-button-option {
    background: var(--card-color);
    color: var(--card-title-color); 
    height: 20vw;
    width: 20vw;
    background-repeat:no-repeat;
      background-position: center center;
     background-size: cover;
    margin-left: 0;
    border-radius: 2vh;
    display: inline-block;
    margin-right: 0.5vw;
    transition: 0.4s; 
}

.fullscreen-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.space-make {
    display: none;
}

/* Mobile song */
.song {
  color: var(--card-title-color);
  font-size: 8vw;
  font-family: var(--card-title-font);
  margin-top: 1vh;
  transition: 0.4s; 
  background-color: var(--card-color);
  text-align: center;
  margin-left: 10%;
  width: 80vw;
  font-weight: normal;
  height: 13vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3vw;
}

.show-more {
    color: var(--card-title-color);
    font-size: 8vw;
    font-family: var(--card-title-font);
    margin-top: 1vh;
    transition: 0.4s; 
    background-color: var(--title-color);
    text-align: center;
    margin-left: 10%;
    width: 80vw;
    font-weight: normal;
    height: 13vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 3vw;
}

.show-more:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}


.song:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.volumeSlide {
  -webkit-appearance: none;
  width: 80%;
  height: 0.5vh;
  background: var(--card-color);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 3vh;
  margin-right: 1vw;
  transition: 0.4s; 
  margin-bottom: none;
}

.desktop {
  display: none;
}

.volumeSlide::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 3vh; /* Set a specific slider handle width */
  height: 3vh; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.mainLogo {
    display: none;
   transition: 0.4s;
  height: 15vw;
  float: right;
  margin-left: 1vw;
  z-index: 10;
}
.navlink { margin: 0 1vw; }

.hamburger-menu {
    display: block;
    position: absolute;
    width: 12vw;
    height: 12vw;
    z-index: 999;
    margin: 1vw;
    top: 0;
    color: white;
    cursor: pointer;
}

.first-content {
  text-align: center;
  margin-top: 10vh;
}


.title-text {
  color: var(--title-color);
  font-size: 15vw;
  font-family: 'Baloo Da';
  display: none;
}

.theme-value {
  padding: 0.5vw;
}

h1 {
  text-align: center;
  font-family: var(--card-title-font);
  font-size: 8vw;
  color: var(--card-title-color);
}

p {
  text-align: center;
  color: var(--p-text-color);
}

a {
  text-decoration: var(--link-decoration);
  color: var(--card-text-color);
  cursor: pointer;
}

.spaceMobile2 {
    margin-top: 10vh;
}

.spaceMobile {
    margin-top: 50vh;
}

.mobileSize-h2 {
    font-size: 10vw;
    margin: 1vh;
}


.settings-container {
    background-color: transparent;
  width: 100vw;
  height: 40vh;
  text-align: center;
  position: absolute;
  display: block;
  padding-left: 0vw;
}

.menuExpandClosed {
    color: var(--card-text-color);
    transition: 0.4s;
}

.menuExpandOpen {
    color: var(--bg-color);
    margin: 0;
    padding: 0;
    border-radius: 10vh;
    font-family: Verdana;
    background-color: transparent;
    transition: all 0.3s;
    width: 100vw;
    height: auto;
    position: absolute;
    margin-left: 20vw;
    margin-top: 0;
    z-index: 100;
    transition: 0.4s;
    top: 0;
    right: 0;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(24, 24, 24, 1);
    overflow: hidden;
}

.menuContent {
    display: none;
    transition: 0.4s;
}

.settings-card {
    position: relative;
  border-radius: 3vh;
  font-family: Verdana;
  background-color: var(--card-color);
  cursor: pointer;
  transition: all 0.3s;
  width: 80vw;
  height: 5vh;
  margin-left: 5vw;
}

.settings-card:hover {
  box-shadow: 2px 2px 13px #575b5c;
  transform: scale(1.05);
}

.settings-title {
    font-size: 8vw;
    margin: 0;
    padding: 0;
}

.settings-text {
  color: var(--card-text-color);
  margin: 0;
}

/* Games */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');
#games {
  padding: 2vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-image {
  width: 100%;
}

#siteContent {
    height: 100%;
    margin-bottom: 50vh;
}

.card {
  border-radius: 3vh;
  font-family: Verdana;
  background-color: var(--card-color);
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  width: 80%;
}

.card:hover {
  box-shadow: 2px 2px 13px #575b5c;
  transform: scale(1.05);
}
.card>* {
    flex: 1 1 160px;
}

.card-content p {
  text-align: center;
  color: var(--card-text-color);
}

.linkBack {
  background-color: var(--card-color);
  width: 80%;
  height: 6vh;
  text-align: center;
  border-radius: 4vh;
  margin-left: 10vw;
  transition: 0.4s;
  margin-top: 1vh;
}

  }