 /* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/baloo-da');

html {
  background: var(--bg-color);
  transition: 1s; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
body {
  font-family: var(--body-family);
}

::-webkit-scrollbar {
	width: 1vh;
	border-radius: 1vh;;
  }

  .mobile {
    display: none;
  }
  
  ::-webkit-scrollbar-thumb {
	border-radius: 1vh;
	-webkit-box-shadow: inset 0 0 0.8vh rgba(0, 0, 0, .3);
	background-color: #555;
  }

button {
  padding: 15px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: var(--card-text-color);
  font-size: 1.5vw;
  float: left;
  transition: 0.4s;
  font-weight: bold;
  height: 5vh;
  font: 'Blinker';
  padding-top: 0.4vh;
  display: inline-block;
}

#recentlyPlayed {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  margin-left: 1vw;
  overflow-x: auto; /* add this line to enable vertical scrollbar */
  overflow-y: hidden;

}

.song-Title {
  font-size: 0.8vw;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1vw;
  margin-right: 0;
  padding: 0;
  background-color: var(--card-color);
  height: 1vw;
  width: 10vw;
  text-align: center;
  border-radius: 1vw;
  transition: 0.2s;
}

.song-image {
  width: 10vw;
  height: 10vw;
  border-radius: 10%;
  margin-top: 2vh;
  margin-left: 1vw;
  margin-right: 0;
  margin-bottom: 0;
  cursor: pointer;
  transition: 0.2s;
}

.title-link {
  text-decoration: none;
  color: var(--title-color);
  font-size: 3vw;
  transition: 0.4s;
  font-weight: bold;
  height: 5vh;
  font: 'Blinker';
  width: 2vw;
  padding-bottom: 0vh;
  display: inline-block;
}

.big-link {
  font-size: 2vw;
  color: var(--title-color);
  font-weight: bold;
  font: 'Blinker';
}

#nav {
  display: flex;
  align-items: left;
  text-align: left;
  
  top: 0;
  left: 0;
  height: 12vh;
  background-color: var(--nav-bar-bg);
  filter: brightness(70%);
  color: white;
  width: 100%;
  transition: 0.4s; 
  position: fixed;
  z-index: 100;
}

.media-player-wrap {
  background: url(assets/a9362e9d1ae13b2f90f29a61c1ad526b.1000x1000x1.png), #4F4D4D;
  border-radius: 2vw;
  height: 18vh;
  width: 23vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 1;
      display: block;
    position: inherit;
    margin-left: 70vw;
    margin-bottom: 20vh;
    transition: 0.4s; 
}


.quick-settings-wrap {
  border-radius: 2vw;
  display: none;
  height: 18vh;
  width: 23vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 0.75;
    position: inherit;
    margin-left: 75vw;
    margin-top: 4vh;
    transition: 0.4s; 
}

.musicSettingsOpen {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10vh;
    font-family: Verdana;
    background-color: var(--card-color);
    transition: all 0.3s;
    width: 60vw;
    height: auto;
    position: absolute;
    margin-left: 20vw;
    margin-top: 10vh;
    z-index: 100;
    transition: 0.4s;
    top: 40%;
    right: 17%;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .6);
}

.spaceDesktop2 {
  height: 10vh;
  width: 19%;
  display: block;
  transition: 0.4s;
}

.spaceDesktop3 {
  height: 10vh;
  width: 5%;
  display: block;
  transition: 0.4s;
}

#musicSettingsContainer {
}

#f {
  display: none;
}

.library-container {
  
}

.custom-file-upload {
  color: var(--title-color);
  font-size: 1.5vw;
  font-family: var(--card-title-font);
  margin-top: 3vh;
  transition: 0.4s; 
  background-color: var(--alt-bg-color);
  text-align: center;
  width: 20%;
  display: block;
  margin-left: 40%;
  border-radius: 3vw;
}

.custom-file-upload:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #18d631 0px 0px 1vh 0px;
}

.hover-setting {
  border:rgba(0, 0, 0, .6) 0.1vh solid;
}

.hover-setting:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color:rgb(255, 0, 0)
}
.media-button-wrap {
  margin-top: 5vh;
  transition: 0.4s; 
}

@media only screen and (max-width: 1000px) {
  .media-button-wrap {
    margin-top: 0vh;
  }
}

@media only screen and (max-width: 900px) {
  .media-button-wrap {
    margin-top: 0vh;
  }
}



.back-arrow-option {
  background: var(--media-skip-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  margin-right: 4vw;
  display: inline-block;
  transition: 0.4s; 
}

.back-arrow-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #8f3333 0px 0px 1vh 0px;
}

.pause-play-option {
  background: var(--media-play-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  display: inline-block;
  border-radius: 2vh;
  margin-right: 4vw;
  transition: 0.4s; 
}

.pause-play-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #909e53 0px 0px 1vh 0px;
}

.forward-arrow-option {
  background: var(--media-skip-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0vw;
  transition: 0.4s; 
}

.forward-arrow-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #8f3333 0px 0px 1vh 0px;
}

/* Quick Settings */

.quick-button-wrap {
  margin-top: 3vh;
  transition: 0.4s; 
}

.night-button-option {
  background: var(--card-color);
  color: var(--bg-color); 
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0.5vw;
  transition: 0.4s; 
}

.night-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.refresh-button-option {
  background: var(--card-color);
  color: var(--bg-color); 
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0.5vw;
  transition: 0.4s; 
}

.refresh-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.fullscreen-button-option {
  background: var(--card-color);
  color: var(--bg-color); 
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0.5vw;
  transition: 0.4s; 
}

.fullscreen-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.song {
  color: var(--p-text-color);
  font-size: 1.5vw;
  filter: brightness(75%);
  font-family: var(--card-title-font);
  margin-top: 1vh;
  transition: 0.4s; 
  background-color: var(--card-color);
  text-align: center;
  width: 20%;
  margin-left: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3vw;
  border: white 0.2vw solid;
}

.show-more {
  color: var(--card-title-color);
  font-size: 1.5vw;
  font-family: var(--card-title-font);
  margin-top: 1vh;
  transition: 0.4s; 
  background-color: var(--title-color);
  text-align: center;
  width: 20%;
  margin-left: 40%;
  border-radius: 3vw;
}

.show-more:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}


.song:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.volumeSlide {
  -webkit-appearance: none;
  width: 100%;
  height: 1vh;
  background: var(--card-color);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 0vh;
  margin-right: 0vw;
  transition: 0.4s; 
  border-radius: 1vh;
  margin-bottom: none;
  transform: rotate(180deg);
  position: inherit;
}

.volumeSlide::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 2vh; /* Set a specific slider handle width */
  height: 2vh; /* Slider handle height */
  background: var(--alt-bg-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 2vh;
}

.mainLogo {
   transition: 0.4s;
  height: 15vw;
  float: right;
  margin-left: 1vw;
  z-index: 10;
}
.navlink { margin: 0 1vw; }

.first-content {
  text-align: center;
  margin-top: 8vh;
}

.title-text {
  color: var(--title-color);
  font-size: 6vw;
  font-family: var(--title-family);
  text-align: left;
  margin: 0;
}

.title-text2 {
  color: var(--title-color);
  font-size: 3vw;
  margin-left: 2vw !important;
  font-family: var(--title-family);
  text-align: left;
  filter: brightness(55%);
  margin: 0;
}

.theme-value {
  padding: 0.5vw;
}

h1 {
  font-family: var(--card-title-font);
  font-size: 2vw;
  color: var(--h1-color);
}

.mobileSize-h1 {
  text-align: center;
}

p {
  text-align: center;
  color: var(--p-text-color);
}

a {
  text-decoration: var(--link-decoration);
  color: var(--card-text-color);
  cursor: pointer;
}

.settings-container {
  display: flex;
  background-color: transparent;
  width: 70vw;
  justify-content: center;
  text-align: center;
  padding-left: 15vw;
}

.settings-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 3vh;
  font-family: Verdana;
  background-color: var(--card-color);
  filter: brightness(95%);
  cursor: pointer;
  transition: all 0.3s;
  width: 20%;
  color: var(--card-title-color) !important;
  border: white 0.3vw solid;
}

.settings-card:hover {
  box-shadow: 2px 2px 13px #575b5c;
  transform: scale(1.05);
}

.settings-text {
  color: var(--card-text-color);
}

/* Games */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');
#games {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-image {
  width: 100%;
}

.card {
  border-radius: 3vh;
  font-family: Verdana;
  background-color: var(--card-color);
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  width: 20%;
}

.card:hover {
  box-shadow: 2px 2px 13px #575b5c;
  transform: scale(1.05);
}
.card>* {
    flex: 1 1 160px;
}

.card-content p {
  text-align: center;
  color: var(--card-text-color);
}

.linkBack {
  margin-top: 3.5vh;
  margin-left: 1.4vw;
  transition: 0.4s;
  height: 5vh;
  color: var(--card-text-color);
  text-align: center;
  border-radius: 3vh;
}

.linkBack:hover {
  transform: scale(1.2);
  transition: 0.1s;
}

.title-nav {
  margin-top: 1.5vh;
  margin-right: 8vw;
}

.hide {
  display: none;
}


/* SIDEBAR */
.bottom-wrap {
  height: 0;
  width: 0;
  position: fixed;
  z-index: 10;
  bottom: 0;
  right: 15vh;
  background-color: var(--card-color-music);
  overflow-x: hidden;
  transition: 0.5s;
  border-top-left-radius: 3vh;
  border-top-right-radius: 3vh;
  width: 14vw;
  border: var(--h1-color) 0.15vw solid;
}

.hamburger-sidebar {
  height: 5vw;
  width: 5vw;
  position: absolute;
  z-index: 100;
  margin: 0;
  top: 0.5%;
  left: 1%;
  cursor: pointer;
}

#hamburgerSidebar {
  transition: 0.4s;
}

.progress-container {
  margin-top: 5.5vh;
  margin-left: 3.5vh;
  background: #000000;
  border-radius: 3vh;
  height: 1vh;
  width: 80%;
  position: absolute;
}

.progress-bar {
  background: var(--alt-bg-color);
  border-radius: 3vh;
  height: 1vh;
  width: 0%;
}

.back-arrow {
  height: 4vh;
  width: 4vh;
  margin-left: 5vh;
  margin-top: 1vh;
  position: absolute;
}

.back-arrow:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.pause-play {
  height: 4vh;
  width: 4vh;
  margin-left: 13vh;
  margin-top: 1vh;
  position: absolute;
}

.pause-play:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.forward-arrow {
  height: 4vh;
  width: 4vh;
  margin-left: 21vh;
  margin-top: 1vh;
  position: absolute;
}

.forward-arrow:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}


.volume-container {
  margin-top: 11vh;
  margin-left: 4vw;
  background: #000000;
  border-radius: 3vh;
  height: 1vh;
  width: 60%;
  position: absolute;
  transform: rotate(180deg);
}

.volume-bar {
  background: var(--alt-bg-color);
  border-radius: 3vh;
  height: 1vh;
  width: 10%;
}

.volume-icon {
  height: 4vh;
  width: 4vh;
  margin-left: 2vh;
  margin-top: 9.5vh;
  position: absolute;
  color: white;
}

.volume-icon:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.volume-icon-mute {
  display: none;
  height: 5vh;
  width: 5vh;
  margin-left: 2vh;
  margin-top: 9.5vh;
  position: absolute;
  color: white;
}

.volume-icon-mute:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.song-title-container {
  width: 100%;
  margin-top: 1vh;
  margin-left: 2vh;
}

.song-title {
  font-size: 3.2vh;
  text-overflow: ellipsis;
  width: 90%;
  margin: 0;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.song-title:hover {
  filter: brightness(80%);
  text-decoration: underline;
}

.song-artist {
  font-size: 2vh;
  text-overflow: ellipsis;
  width: 90%;
  margin: 0;
  white-space: nowrap;
  text-align: middle;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  filter: brightness(70%);
}

.song-artist:hover {
  filter: brightness(80%);
  text-decoration: underline;
}

.song-photo {
  height: 20vh;
  width: 20vh;
  border-radius: 2vh;
  background-color: #000000;
  border: 0.4vh solid #000000;
  margin-left: 4.5vh;
  margin-top: 2vh;
}

.photo-style {
  border-radius: 2vh;
  height: 20vh;
  width: 20vh;
  margin: 0;
  padding: 0;
}


/* ONBOARDING */

.onboard-Start {
  transition: 0.4s;
  background: var(--bg-color);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--title-color);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}

.onboard-fs {
  transition: 0.4s; 
  background: var(--bg-color);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--title-color);
  visibility: visible;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  
  visibility: hidden;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.onboard-question {
  font-size: 2em;
  margin: 0;
  padding: 0;
  margin-top: 15vh;
  color: var(--title-color);
  font-size: 4em;
  transition: 0.4s;
}

.onboard-answer-container {
  margin-top: 10vh;
  transition: 0.4s;
}

.onboard-answer {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  margin-bottom: 5vh;
  width: 40%;
  height: 30%;
  margin-top: 25vh;
  display: inline-block;
  padding: 10vh;
  margin-left: 2vw;
  margin-right: 2vw;
  transition: 0.4s;
  border-radius: 3vh;
}

.onboard-answer:hover {
  filter: brightness(80%);
  text-decoration: underline;
}

.onboard-input {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  margin-bottom: 5vh;
  width: 40%;
  height: 30%;
  margin-top: 25vh;
  display: inline-block;
  padding: 10vh;
  margin-left: 2vw;
  margin-right: 2vw;
  transition: 0.4s;
  border-radius: 3vh;
}


.home-tile-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  background-color: transparent;
  border-radius: 3vh;
  height: 25vh;
  margin-top: 2vh;
  margin-left: 4vw;
}
  .home-tile {
    flex: 0 0 auto;
    width: 30vh;
    height: 19vh;
    margin: 2vh;
    border-radius: 3vh;
    background-color: var(--card-color-darker);
    cursor: pointer;
  }

  .home-tile:hover {
    filter: brightness(80%);
    transform: scale(1.05);
  }

.home-tile-text {
  margin-top: 4vh;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-bottom: 2vh;
  font-size: 2vh;
  color: var(--card-text-color);
  width: auto;
}

.home-tile-title {
  margin-top: 5vh;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
  text-align: middle;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}


.song-tile {

    flex: 0 0 auto;
    width: 40vh;
    height: 10vh;
    margin: 2vh;
    border-radius: 3vh;
    background-color: var(--card-color-darker);

    color: var(--p-text-color);
    cursor: pointer;
}

.song-tile:hover {
  filter: brightness(80%);
  transform: scale(1.05);
}

.song-text {
  margin-top: 4vh;
  margin-left: 2vh;
  margin-right: 2vh;
  font-size: 2vh;
  margin-bottom: 2vh;
  color: var(--card-text-color);
  width: auto;
  white-space: nowrap;
  text-align: middle;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}