 /* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');


html {
  background-color: #0f0f0f;
}
body {
  font-family: "DM Sans";
}

button {
  padding: 15px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 2vw;
  float: right;
  color: black;
  transition: 0.4s;
  font-weight: bold;
}

#nav {
  display: flex;
  align-items: center;
  float: right;
  text-align: right;
  
  top: 0;
  left: 0;
  height: 3vh;
  background-color: #7a7a7a;
  color: white;
  width: 100%;
  padding: 10vw 2vw; 
  transition: 0.4s; 
  position: fixed; 
}

.navMain::before {
   content: "";
   position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
     background-image: url("assets/msg-banner.png");
    background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 0.75;
}

.mainLogo {
   transition: 0.4s;
  height: 15vw;
  float: right;
  padding-left: 1.5vw;
  z-index: 10;
}
.navlink { margin: 0 1vw; }

.first-content {
  text-align: center;
  margin-top: 45vh;
}

.title-text {
  color: white;
  font-size: 6vw;
  font-family: 'Blinker', sans-serif;
}