 /* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/baloo-da');

html {
  background-color: var(--bg-color);
}
body {
  font-family: var(--body-family);
}

button {
  padding: 15px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 2vw;
  float: right;
  color: black;
  transition: 0.4s;
  font-weight: bold;
  height: 5vh;
  width: 10vw;
  padding-top: 2vh;
}

#nav {
  display: flex;
  align-items: center;
  float: right;
  text-align: center;
  
  top: 0;
  left: 0;
  height: 3vh;
  background-color: #7a7a7a;
  color: white;
  width: 100%;
  padding: 10vw 2vw; 
  transition: 0.4s; 
  position: fixed;
  z-index: 100;
}

.media-player-wrap {
  background: url(assets/a9362e9d1ae13b2f90f29a61c1ad526b.1000x1000x1.png), #4F4D4D;
  border-radius: 2vw;
  height: 18vh;
  width: 23vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 1;
      display: block;
    position: inherit;
    margin-left: 70vw;
    margin-bottom: 20vh;
    transition: 0.4s; 
}


.quick-settings-wrap {
  background: var(--bg-color);
  border-radius: 2vw;
  height: 18vh;
  width: 23vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 0.75;
      display: block;
    position: inherit;
    margin-left: 70vw;
    margin-top: 22vh;
    transition: 0.4s; 
}

.musicSettingsOpen {
    margin: 1rem;
    padding: 1rem;
    border-radius: 10vh;
    font-family: Verdana;
    background-color: var(--card-color);
    cursor: pointer;
    transition: all 0.3s;
    width: 60vw;
    height: 60vh;
    position: absolute;
    margin-left: 20vw;
    margin-top: 10vh;
    z-index: 100;
    transition: 0.4s;
    top: 40%;
    right: 17%;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .6);
}

#musicSettingsContainer {
  display: none;
}

.hover-setting:hover {
  transform: scale(1.1);
  transition: 0.3s;
  color:rgb(255, 0, 0)
}
.media-button-wrap {
  margin-top: 5vh;
  transition: 0.4s; 
}

@media only screen and (max-width: 1000px) {
  .media-button-wrap {
    margin-top: 0vh;
  }
}

@media only screen and (max-width: 900px) {
  .media-button-wrap {
    margin-top: 0vh;
  }
}



.back-arrow-option {
  background: var(--media-skip-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  margin-right: 4vw;
  display: inline-block;
  transition: 0.4s; 
}

.back-arrow-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #8f3333 0px 0px 1vh 0px;
}

.pause-play-option {
  background: var(--media-play-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  display: inline-block;
  border-radius: 2vh;
  margin-right: 4vw;
  transition: 0.4s; 
}

.pause-play-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #909e53 0px 0px 1vh 0px;
}

.forward-arrow-option {
  background: var(--media-skip-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0vw;
  transition: 0.4s; 
}

.forward-arrow-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #8f3333 0px 0px 1vh 0px;
}

/* Quick Settings */

.quick-button-wrap {
  margin-top: 3vh;
  transition: 0.4s; 
}

.night-button-option {
  background: var(--card-color);
  color: var(--card-title-color); 
  height: 6vw;
  width: 6vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0.5vw;
  transition: 0.4s; 
}

.night-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.refresh-button-option {
  background: var(--card-color);
  color: var(--card-title-color); 
  height: 6vw;
  width: 6vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0.5vw;
  transition: 0.4s; 
}

.refresh-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.fullscreen-button-option {
  background: var(--card-color);
  color: var(--card-title-color); 
  height: 6vw;
  width: 6vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 0.5vw;
  transition: 0.4s; 
}

.fullscreen-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.song {
  color: var(--card-title-color);
  font-size: 1.5vw;
  font-family: var(--card-title-font);
  margin-top: 1vh;
  transition: 0.4s; 
  background-color: var(--card-color);
  text-align: center;
  width: 20%;
  margin-left: 40%;
  border-radius: 3vw;
}

.song:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.volumeSlide {
  -webkit-appearance: none;
  width: 80%;
  height: 0.5vh;
  background: var(--card-color);
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-top: 1vh;
  margin-right: 1vw;
  transition: 0.4s; 
  margin-bottom: none;
}

.volumeSlide::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 3vh; /* Set a specific slider handle width */
  height: 3vh; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.mainLogo {
   transition: 0.4s;
  height: 15vw;
  float: right;
  margin-left: 1vw;
  z-index: 10;
}
.navlink { margin: 0 1vw; }

.first-content {
  text-align: center;
  margin-top: 45vh;
}

.title-text {
  color: var(--title-color);
  font-size: 6vw;
  font-family: var(--title-family);
}

.theme-value {
  padding: 0.5vw;
}

h1 {
  text-align: center;
  font-family: var(--card-title-font);
  font-size: 2vw;
  color: var(--card-title-color);
}

p {
  text-align: center;
  color: var(--p-text-color);
}

a {
  text-decoration: var(--link-decoration);
  color: var(--card-text-color);
  cursor: pointer;
}

.settings-container {
  display: flex;
  background-color: var(--settings-container);
  width: 70vw;
  justify-content: center;
  text-align: center;
  padding-left: 15vw;
}

.settings-card {
  margin: 1rem;
  padding: 1rem;
  border-radius: 3vh;
  font-family: Verdana;
  background-color: var(--card-color);
  cursor: pointer;
  transition: all 0.3s;
  width: 20%;
}

.settings-card:hover {
  box-shadow: 2px 2px 13px #575b5c;
  transform: scale(1.05);
}

.settings-text {
  color: var(--card-text-color);
  
}

/* Games */
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');
#games {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-image {
  width: 100%;
}

.card {
  border-radius: 3vh;
  font-family: Verdana;
  background-color: var(--card-color);
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  width: 20%;
}

.card:hover {
  box-shadow: 2px 2px 13px #575b5c;
  transform: scale(1.05);
}
.card>* {
    flex: 1 1 160px;
}

.card-content p {
  text-align: center;
  color: var(--card-text-color);
}

.linkBack {
  background-color: var(--card-color);
  width: 12%;
  height: 9vh;
  border-radius: 4vh;
  margin-left: 1vw;
  transition: 0.4s;
}

.linkBack:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}


/* Input*/
.omrs-input-underlined > input,
.omrs-input-filled > input {
	border: none;
	border-bottom: 0.125rem solid var(--omrs-color-ink-medium-contrast);
	width: 100%;
	height: 2rem;
	font-size: 1.0625rem;
	padding-left: 0.875rem;
	line-height: 147.6%;
	padding-top: 0.825rem;
	padding-bottom: 0.5rem;
}

.omrs-input-underlined > input:focus,
.omrs-input-filled > input:focus {
	outline: none;
}

.omrs-input-underlined > .omrs-input-label,
.omrs-input-filled > .omrs-input-label {
	position: absolute;
	top: 0.9375rem;
	left: 0.875rem;
	line-height: 147.6%;
	color: var(--omrs-color-ink-medium-contrast);
	transition: top .2s;
}

.omrs-input-underlined > svg,
.omrs-input-filled > svg {
	position: absolute;
	top: 0.9375rem;
	right: 0.875rem;
	fill: var(--omrs-color-ink-medium-contrast);
}

.omrs-input-underlined > .omrs-input-helper,
.omrs-input-filled > .omrs-input-helper {
	font-size: 0.9375rem;
	color: var(--omrs-color-ink-medium-contrast);
	letter-spacing: 0.0275rem;
	margin: 0.125rem 0.875rem;
}

.omrs-input-underlined > input:hover,
.omrs-input-filled > input:hover {
	background: var(--omrs-color-interaction-minus-two);
	border-color: var(--omrs-color-ink-high-contrast);
}

.omrs-input-underlined > input:focus + .omrs-input-label,
.omrs-input-underlined > input:valid + .omrs-input-label,
.omrs-input-filled > input:focus + .omrs-input-label,
.omrs-input-filled > input:valid + .omrs-input-label {
	top: 0;
	font-size: 0.9375rem;
	margin-bottom: 32px;;
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus + .omrs-input-label,
.omrs-input-filled:not(.omrs-input-danger) > input:focus + .omrs-input-label {
	color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus,
.omrs-input-filled:not(.omrs-input-danger) > input:focus {
	border-color: var(--omrs-color-interaction);
}

.omrs-input-underlined:not(.omrs-input-danger) > input:focus ~ svg,
.omrs-input-filled:not(.omrs-input-danger) > input:focus ~ svg {
	fill: var(--omrs-color-ink-high-contrast);
}

/** DISABLED **/

.omrs-input-underlined > input:disabled {
	background: var(--omrs-color-bg-low-contrast);
	cursor: not-allowed;
}

.omrs-input-underlined > input:disabled + .omrs-input-label,
.omrs-input-underlined > input:disabled ~ .omrs-input-helper{
	color: var(--omrs-color-ink-low-contrast);
}

.omrs-input-underlined > input:disabled ~ svg {
	fill: var(--omrs-color-ink-low-contrast);
}

