 /* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/baloo-da');

html {
  background-color: var(--bg-color);
}
body {
  font-family: var(--body-family);
}

button {
  padding: 15px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 5px;
}

.link {
  text-decoration: none;
  color: inherit;
  font-size: 2vw;
  float: right;
  color: black;
  transition: 0.4s;
  font-weight: bold;
}

#nav {
  display: flex;
  align-items: center;
  float: right;
  text-align: right;
  
  top: 0;
  left: 0;
  height: 3vh;
  background-color: #7a7a7a;
  color: white;
  width: 100%;
  padding: 10vw 2vw; 
  transition: 0.4s; 
  position: fixed;
  z-index: 100;
}

.media-player-wrap {
  background: url(assets/a9362e9d1ae13b2f90f29a61c1ad526b.1000x1000x1.png), #4F4D4D;
  border-radius: 2vw;
  height: 18vh;
  width: 23vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 0.75;
      display: block;
    position: inherit;
    margin-left: 70vw;
    margin-bottom: 20vh;
    transition: 0.4s; 
}

.quick-settings-wrap {
  background: var(--bg-color);
  border-radius: 2vw;
  height: 18vh;
  width: 23vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
      opacity: 0.75;
      display: block;
    position: inherit;
    margin-left: 70vw;
    margin-top: 22vh;
    transition: 0.4s; 
}

.media-button-wrap {
  margin-top: 9vh;
  transition: 0.4s; 
}

.back-arrow-option {
  background: var(--media-skip-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  margin-right: 4vw;
  display: inline-block;
  transition: 0.4s; 
}

.back-arrow-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #8f3333 0px 0px 1vh 0px;
}

.pause-play-option {
  background: var(--media-play-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  display: inline-block;
  border-radius: 2vh;
  margin-right: 4vw;
  transition: 0.4s; 
}

.pause-play-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #909e53 0px 0px 1vh 0px;
}

.forward-arrow-option {
  background: var(--media-skip-buttons);
  color: var(--media-icon-color);
  height: 4vw;
  width: 4vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 1vw;
  transition: 0.4s; 
}

.forward-arrow-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #8f3333 0px 0px 1vh 0px;
}

/* Quick Settings */

.quick-button-wrap {
  margin-top: 3vh;
  transition: 0.4s; 
}

.night-button-option {
  background: var(--card-color);
  color: var(--card-title-color); 
  height: 6vw;
  width: 6vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 1vw;
  transition: 0.4s; 
}

.night-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.refresh-button-option {
  background: var(--card-color);
  color: var(--card-title-color); 
  height: 6vw;
  width: 6vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 1vw;
  transition: 0.4s; 
}

.refresh-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.fullscreen-button-option {
  background: var(--card-color);
  color: var(--card-title-color); 
  height: 6vw;
  width: 6vw;
  background-repeat:no-repeat;
    background-position: center center;
   background-size: cover;
  margin-left: 0;
  border-radius: 2vh;
  display: inline-block;
  margin-right: 1vw;
  transition: 0.4s; 
}

.fullscreen-button-option:hover {
  transform: scale(1.05);
  transition: 0.1s;
  box-shadow: #000000 0px 0px 1vh 0px;
}

.media-player-wrap::before {

}

.mainLogo {
   transition: 0.4s;
  height: 15vw;
  float: right;
  padding-left: 1.5vw;
  z-index: 10;
}
.navlink { margin: 0 1vw; }

.first-content {
  text-align: center;
  margin-top: 45vh;
}

.title-text {
  color: var(--title-color);
  font-size: 6vw;
  font-family: var(--title-family);
}

.theme-value {
  padding: 0.5vw;
}

h1 {
  text-align: center;
  font-family: var(--card-title-font);
  font-size: 2vw;
  color: var(--card-title-color);
}

p {
  text-align: center;
  color: var(--p-text-color);
}

a {
  text-decoration: var(--link-decoration);
  color: var(--card-text-color);
}