.settings-container {
    display: flex;
    background-color: var(--settings-container);
    width: 70vw;
    justify-content: center;
    text-align: center;
    padding-left: 15vw;
}

.settings-card {
    margin: 1rem;
    padding: 1rem;
    border-radius: 3vh;
    font-family: Verdana;
    background-color: var(--card-color);
    cursor: pointer;
    transition: all 0.3s;
    width: 20%;
}

.settings-card:hover {
    box-shadow: 2px 2px 13px #575b5c;
    transform: scale(1.05);
}

.settings-text {
    color: var(--card-text-color);
    
}